{% extends 'base.html' %}

<!-- Title -->
{% block title %}Quantum Mail-Home{% endblock title %}
<!-- Content Begins -->
{% block content %}
<!-- Typed Effect -->
<div class="block-position">
	<h1 class="text-light typed-text">
		Welcome to QMail<br />
		<span id="element" style="color: rgb(255, 255, 116)"></span>
	</h1>
</div>

<!-- Message -->
<div class="">
	<button
		class="btn text-light pulse"
		style="background-color: rgb(17, 144, 112)"
	>
		<i class="fas fa-envelope fa-2x"></i>
	</button>
</div>
{% endblock content %}
