{% extends 'modals/baseModal.html' %}

<!-- Id -->
{% block modal-id %} id="deleteModal{{ mail.id }}"{% endblock modal-id %}

<!-- Title -->
{% block modal-title %}
<i class="fas fa-trash-alt"></i>&nbsp;&nbsp; Delete Message
<!--  -->
{% endblock modal-title%}
<!-- Form -->
{% block modal-body %}
<div class="text-center text-danger">
	<i class="far fa-times-circle fa-5x mb-4 mt-2"></i>
</div>
<div class="text-center text-danger">
	<span>Delete Confirmation</span>
	<div class="text-dark mt-3 mb-2">
		Do you want to delete message with subject
		<strong>{{ mail.subject }}</strong> from <strong>{{ mail.name }}</strong>?
	</div>
</div>
{% endblock modal-body %}

<!-- Modal Footer -->
{% block modal-footer %}
<a
	href="/delete-message/{{ mail.id }}"
	class="btn btn-outline-danger btn-sm btn-modal"
	>Delete</a
>
{% endblock modal-footer %}
